{% extends 'base.html' %}

{% block content %}




<h1 class="text-center mb-4">Salas de Reunião</h1>

<div class="row justify-content-center" id="salas-list"> 
    {% for sala in salas %}
    <div class="col-md-4 mb-4" id="sala-{{ sala.id }}">
        <div class="sala-card text-center">
            <a href="{% url 'calendario_sala' sala.id %}" class="text-decoration-none">
                <div class="position-relative d-inline-block">
                    {% comment %} <img src="{{ sala.imagem.url }}" alt="{{ sala.nome }}" class="sala-imagem"> {% endcomment %}
                    <img 
                    src="{{ sala.imagem.url }}" 
                    alt="{{ sala.nome }}" 
                    class="sala-imagem {% if sala.esta_ocupada %}ocupado{% else %}livre{% endif %}">
                
                    <span class="status-badge {% if sala.esta_ocupada %}status-ocupado{% else %}status-livre{% endif %}" id="status-{{ sala.id }}">
                        {% if sala.esta_ocupada %}
                            Ocupado
                        {% else %}
                            Liberado
                        {% endif %}
                    </span>
                </div>
                <h3 class="mt-3 text-dark">{{ sala.nome }}</h3>
                <p class="text-muted">Capacidade: {{ sala.capacidade }} pessoas</p>
            </a>
        </div>
    </div>
    {% endfor %}
</div>


<script>
    function atualizarStatusSalas() {
        fetch("{% url 'atualizar_status_salas' %}")
            .then(response => response.json())
            .then(data => {
                // Atualiza os status de cada sala com base na resposta do servidor
                data.salas.forEach(sala => {
                    const statusElement = document.getElementById(`status-${sala.id}`);
                    const imagemElement = document.querySelector(`#sala-${sala.id} .sala-imagem`);
                    
                    if (sala.esta_ocupada) {
                        // Atualiza status-badge
                        statusElement.classList.remove('status-livre');
                        statusElement.classList.add('status-ocupado');
                        statusElement.textContent = 'Ocupado';
                        
                        // Atualiza aparência da imagem
                        imagemElement.classList.remove('livre');
                        imagemElement.classList.add('ocupado');
                    } else {
                        // Atualiza status-badge
                        statusElement.classList.remove('status-ocupado');
                        statusElement.classList.add('status-livre');
                        statusElement.textContent = 'Liberado';
                        
                        // Atualiza aparência da imagem
                        imagemElement.classList.remove('ocupado');
                        imagemElement.classList.add('livre');
                    }
                });
            });
    }
    
    // Atualiza o status a cada 60 segundos
    setInterval(atualizarStatusSalas, 60000);
    
    // Chama a função para garantir que o status seja atualizado assim que a página carregar
    atualizarStatusSalas();
</script>

{% endblock %}
